@import "tailwindcss";

@theme {
  /* الخطوط */
  --font-sans: var(--font-inter);
  
  /* الخطوط الجديدة */
  --font-zen: var(--font-zen);
  --font-cara: var(--font-carattere);

  /* ألوان MemoElle */
  --color-brand-50: #fdf8f6;
  --color-brand-100: #f2e8e5;
  --color-brand-200: #eaddd7;
  --color-brand-300: #d0b7b0;
  --color-brand-500: #a67c74;
  --color-brand-800: #5e403a;
  --color-brand-900: #38221f;
}

body {
  background-color: var(--color-brand-50);
  color: var(--color-brand-800);
  font-family: var(--font-sans); /* الخط الأساسي للنصوص الطويلة */
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif; /* العناوين بالخط الفخم */
}

/* تنسيق السكرول بار (Scrollbar) عشان يبقى شيك */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fdf8f6;
}

::-webkit-scrollbar-thumb {
  background: #eaddd7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a67c74;
}

/* إخفاء السكرول بار في العناصر اللي محتاجة كده */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* كلاسات جاهزة للاستخدام */
.font-zen {
  font-family: var(--font-zen);
}

.font-cara {
  font-family: var(--font-cara);
}